app-insights-demo-overview-container,
app-insights-demo-candlestick-container {
    display: block;
    padding: 3rem 6rem 1rem;
}

app-insights-demo-candlestick-container {
    background-color: #E0F2F1;
}