.candle-stick-header, .apply-button {
  display: flex;
}

.candle-stick-header {
  color: #4e5665;
}

.flex-spacer {
  flex: 1 1 auto;
}

.date-picker {
  margin-left: 1.5rem;
}

.plot-button {
  width: 80px;
  padding: 0;
  text-align: center;
  margin-left: 1.5rem;
}